<form class="flexcol">
    <p class="laugh-start">
        <span style="line-height: 24px;">Choose a laugh to send.</span>                
    </p>
    <div class="form-group">
        <div class="form-fields">
            <select id="laugh-select" style="text-align: center;">
                <option value="cartoon">Cartoon</option>
            </select>
        </div>
        <div class="form-fields">
            <input class="default" style="text-align: center;" type="checkbox" name="default" value="Default" />
            <label for="default"> Make this the default sound? </label>
        </div>
    </div>
    <footer class="flexrow">
        <button id="send-laugh-btn" type="button">LAUGH</button>
    </footer>
</form>