<div class="dialog-content">
    <form>
        <p class="laugh-start">
            <span style="line-height: 24px;">Choose a laugh to send.</span>                
        </p>
        <div class="form-group">
            <div class="form-fields">
                <select id="laugh-select">
                    {{ selectOptions choices selected=value localize=true }}
                </select>
            </div>      
        </div>
        <div class="form-group">
            <div>
                <input id="defaultcb" class="default" type="checkbox" name="default" value="Default" style="vertical-align: middle;" />
                <label for="default" > Update the default sound? </label>
            </div>
        </div>
        <hr />
        <footer>
            <button id="send-laugh-btn" type="button">LAUGH</button>
        </footer>
    </form>
</div>